.resume_right_container{
    height: 100%;
    width: 80%;    
    float: right;
    position: relative;
    top: 10%;
}

.resume_right {
    background: #3B3C36;
    color: #C5B358;    
    justify-content: center;
    justify-items: center;
    padding: 1% 1%;
}

.resume_right .experience_content .info .semi-bold{
    padding-left: 1%;
}

.resume_right .experience_content .info .semi-italic{
    padding-left: 2%;
}

.resume_right .experience_content .info .date{
    padding-left: 2%;
}

.resume_right .experience_content .info_data li{
    padding-left: 3%;
    color: #D0D3D4;
}

.resume_right .experience_content .info_data{
    border-top: 1px solid #C5B358;
}

/*
.title{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
*/

.semi-bold{
    font-size: 1.5rem;
    font-style: bold;
}

.semi-italic{
    font-size: 1.2rem;
    font-style: italic;
}

.date{
    font-size: 1rem;
    font-style: normal;
}

