.resume_right_container{
    height: 100%;
    width: 80%;    
    float: right;
    position: relative;
    top: 10%;
}

.resume_right {
    background: #3B3C36;
    color: #C5B358;    
    justify-content: center;
    justify-items: center;
    padding: 1% 1%;

}

.resume_right .certification_content .info .semi-bold{
    padding-left: 1%;
}

.resume_right .certification_content .info .semi-italic{
    padding-left: 2%;
}

.resume_right .certification_content .info .date{
    padding-left: 2%;
}

.resume_right .certification_content .info_data li{
    padding-left: 3%;
    color: #D0D3D4;
}

.resume_right .certification_content .info_data{
    border-top: 1px solid #C5B358;
}

/*
.title{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
*/

.semi-bold{
    font-size: 1.2rem;
    font-style: bold;
    padding-bottom: 1%;
}

.semi-italic{
    font-size: 1.2rem;
    font-style: italic;
    color: #D0D3D4;
}

.resume_right .certification_content .info .semi-italic li{
    padding-left: 2%;
    padding-bottom: 0%;
    font-size: 0.75rem;
}

.date{
    font-size: 1rem;
    font-style: normal;
}

.certification_content a:link {
  color: #C5B358;
        font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}

.certification_content a:visited {
  color: #C5B358;
        font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}

.certification_content a:hover {
  color: lightblue;   
    font-weight: bold;
  background-color: transparent;
  text-decoration: underline;
}

.certification_content a:active {
  color: lightblue;
        font-weight: bold;
  background-color: transparent;
  text-decoration: underline;
}
