.resume_right_container{
    height: 100%;
    width: 80%;    
    float: right;
    position: relative;
    top: 10%;
}

.resume_right {
    background: #3B3C36;
        justify-content: center;
    justify-items: center;
    text-align: center;
    height: 100%;
    width: 100%

}

.resume_right .upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #C5B358;
    text-align: center;
    padding: 1% 1%;
    height: 100%;
    width: 100%

}

.resume_right .upper .intro{
    padding: 1% 1%;
}

